html,
body {
  max-width: 100vw;
  padding: 0;
  margin: 0;
  width: 100vw;
}

html {
  background-color: #27282c;
  scroll-behavior: smooth;
}

body {
  color: #19191C;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-top: 64px;
  -webkit-text-size-adjust: 100%;
  min-height: 100dvh;
}

.linenumber {
  display: none !important;
}

@media only screen and (max-width: 1000px) {
  html.disabled-scroll {
    overflow: hidden;
    height: 100vh;
  }

  body {
    margin-top: 52px;
  }
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

::selection {
  background-color: rgba(107, 87, 255, .2)
}

@font-face{
  font-family: "JetBrains Sans";
  src:
          url('./../resources/fonts/JetBrainsSans.woff2') format("woff2 supports variations"),
          url('./../resources/fonts/JetBrainsSans.woff2') format("woff2-variations"),
          url('./../resources/fonts/JetBrainsSans.woff') format("woff-variations");
  font-weight: 100 900;
  font-style:normal
}

@font-face {
  font-family: "JetBrains Mono";
  src: url('./../resources/fonts/JetBrainsMono-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url('./../resources/fonts/JetBrainsMono-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url('./../resources/fonts/JetBrainsMono-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url('./../resources/fonts/JetBrainsMono-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url('./../resources/fonts/JetBrainsMono-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url('./../resources/fonts/JetBrainsMono-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url('./../resources/fonts/JetBrainsMono-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url('./../resources/fonts/JetBrainsMono-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
